body{
    background-color: black;
}

h1{
    color: white;
}

div{
    text-align: center;
}

button{
    height: 2.2em;
    width: 5.5em;
    border: none;
    color: white;
}

button:hover{
    cursor: pointer;
}

.start-btn{
    background-color: green;
}

.pause-btn{
    background-color: grey;
}

.stop-btn{
    background-color: red;
}